@using Blazor.IntersectionObserver
@inject IntersectionObserverService ObserverService

<div class="alert alert-secondary mt-4" role="alert" ref="SurveyPromptElement">
    <p>
        Survey prompt. @(IsIntersecting ? "Intersecting!!" : "Not intersecting!!")
    </p>
    <button @onclick="@(() => SetupObserver())">
        Start observing
    </button>
</div>

@functions {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; }

    [Parameter] public IntersectionObserverOptions ObserverOptions { get; set; }

    public bool IsIntersecting { get; set; }

    public ElementReference SurveyPromptElement { get; set; }

    private IntersectionObserver IntersectionObserver { get; set; }

    public async void SetupObserver()
    {
        IntersectionObserver = await ObserverService.Observe(SurveyPromptElement, (entries) =>
        {
            var entry = entries.FirstOrDefault();
            IsIntersecting = entry.IsIntersecting;
            StateHasChanged();
        }, ObserverOptions);
    }
}
